@use '../../../global' as *;

// height
@include responsive using ($prefix) {
  .#{$prefix}u-h-auto {
    height: auto !important;
  }
  .#{$prefix}u-h-full {
    height: 100% !important;
  }
  .#{$prefix}u-h-screen {
    height: 100vw !important;
  }
  .#{$prefix}u-h-0 {
    height: 0 !important;
  }
  .#{$prefix}u-h-1\/12 {
    height: 8.3333% !important;
  }
  .#{$prefix}u-h-2\/12 {
    height: 16.6666% !important;
  }
  .#{$prefix}u-h-3\/12 {
    height: 25% !important;
  }
  .#{$prefix}u-h-4\/12 {
    height: 33.3333% !important;
  }
  .#{$prefix}u-h-5\/12 {
    height: 41.6666% !important;
  }
  .#{$prefix}u-h-6\/12 {
    height: 50% !important;
  }
  .#{$prefix}u-h-7\/12 {
    height: 58.3333% !important;
  }
  .#{$prefix}u-h-8\/12 {
    height: 66.6666% !important;
  }
  .#{$prefix}u-h-9\/12 {
    height: 75% !important;
  }
  .#{$prefix}u-h-10\/12 {
    height: 83.3333% !important;
  }
  .#{$prefix}u-h-11\/12 {
    height: 91.6666% !important;
  }
  .#{$prefix}u-h-12\/12 {
    height: 100% !important;
  }
  .#{$prefix}u-vh-1\/12 {
    height: 8.3333vh !important;
  }
  .#{$prefix}u-vh-2\/12 {
    height: 16.6666vh !important;
  }
  .#{$prefix}u-vh-3\/12 {
    height: 25vh !important;
  }
  .#{$prefix}u-vh-4\/12 {
    height: 33.3333vh !important;
  }
  .#{$prefix}u-vh-5\/12 {
    height: 41.6666vh !important;
  }
  .#{$prefix}u-vh-6\/12 {
    height: 50vh !important;
  }
  .#{$prefix}u-vh-7\/12 {
    height: 58.3333vh !important;
  }
  .#{$prefix}u-vh-8\/12 {
    height: 66.6666vh !important;
  }
  .#{$prefix}u-vh-9\/12 {
    height: 75vh !important;
  }
  .#{$prefix}u-vh-10\/12 {
    height: 83.3333vh !important;
  }
  .#{$prefix}u-vh-11\/12 {
    height: 91.6666vh !important;
  }
  .#{$prefix}u-vh-12\/12 {
    height: 100vh !important;
  }
}
