@use '../../../global' as *;

// width
@include responsive using ($prefix) {
  .#{$prefix}u-w-auto {
    width: auto !important;
  }
  .#{$prefix}u-w-full {
    width: 100% !important;
  }
  .#{$prefix}u-w-screen {
    width: 100vw !important;
  }
  .#{$prefix}u-w-0 {
    width: 0 !important;
  }
  .#{$prefix}u-w-1\/12 {
    width: 8.3333% !important;
  }
  .#{$prefix}u-w-2\/12 {
    width: 16.6666% !important;
  }
  .#{$prefix}u-w-3\/12 {
    width: 25% !important;
  }
  .#{$prefix}u-w-4\/12 {
    width: 33.3333% !important;
  }
  .#{$prefix}u-w-5\/12 {
    width: 41.6666% !important;
  }
  .#{$prefix}u-w-6\/12 {
    width: 50% !important;
  }
  .#{$prefix}u-w-7\/12 {
    width: 58.3333% !important;
  }
  .#{$prefix}u-w-8\/12 {
    width: 66.6666% !important;
  }
  .#{$prefix}u-w-9\/12 {
    width: 75% !important;
  }
  .#{$prefix}u-w-10\/12 {
    width: 83.3333% !important;
  }
  .#{$prefix}u-w-11\/12 {
    width: 91.6666% !important;
  }
  .#{$prefix}u-w-12\/12 {
    width: 100% !important;
  }
  .#{$prefix}u-vw-1\/12 {
    width: 8.3333vw !important;
  }
  .#{$prefix}u-vw-2\/12 {
    width: 16.6666vw !important;
  }
  .#{$prefix}u-vw-3\/12 {
    width: 25vw !important;
  }
  .#{$prefix}u-vw-4\/12 {
    width: 33.3333vw !important;
  }
  .#{$prefix}u-vw-5\/12 {
    width: 41.6666vw !important;
  }
  .#{$prefix}u-vw-6\/12 {
    width: 50vw !important;
  }
  .#{$prefix}u-vw-7\/12 {
    width: 58.3333vw !important;
  }
  .#{$prefix}u-vw-8\/12 {
    width: 66.6666vw !important;
  }
  .#{$prefix}u-vw-9\/12 {
    width: 75vw !important;
  }
  .#{$prefix}u-vw-10\/12 {
    width: 83.3333vw !important;
  }
  .#{$prefix}u-vw-11\/12 {
    width: 91.6666vw !important;
  }
  .#{$prefix}u-vw-12\/12 {
    width: 100vw !important;
  }
}
