{
  "extends": [
    "stylelint-config-standard-scss",
    "stylelint-config-recess-order"
  ],
  "plugins": [
    "stylelint-order"
  ],
  "rules": {
    "custom-media-pattern": null,
    "custom-property-pattern": null,
    "keyframes-name-pattern": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "color-hex-length": "long",
    "color-named": "never",
    "declaration-no-important": null,
    "font-weight-notation": "numeric",
    "font-family-name-quotes": "always-unless-keyword",
    "scss/comment-no-empty": null,
    "rule-empty-line-before": [
      "always-multi-line",
      {
        "except": [
          "after-single-line-comment",
          "first-nested"
        ]
      }
    ],
    "at-rule-empty-line-before": [
			"always",
			{
				"except": ["inside-block", "blockless-after-blockless", "first-nested"],
				"ignore": ["after-comment"],
				"ignoreAtRules": ["else"]
			}
		]
  }
}