// --------------------------------------------------
// Usage:
// <div class="c-container">...</div>
//
// Modifire:
// c-container--[ sm | lg ]
// --------------------------------------------------
@use '../../global' as *;

.c-container {
  width: 100%;
  max-width: 1000px;
  margin-right: auto;
  margin-left: auto;

  &--sm {
    max-width: 980px;
  }

  &--lg {
    max-width: 1200px;
  }
}
