// --------------------------------------------------
// Usage:
// <a class="c-hover">...</a>
//
// Modifire:
// c-hover--[ remove | underline ]
// --------------------------------------------------
@use '../../global' as *;

.c-hover {
  opacity: 1;
  transition: all 0.2s ease;
  @include media(hover) {
    &:hover {
      opacity: 0.7;
    }
  }
}

.c-hover--remove {
  pointer-events: none;
  opacity: 0.5;
}

.c-hover--underline {
  text-decoration: underline;
  transition: all 0.2s ease;
  @include media(hover) {
    &:hover {
      text-decoration: none;
      opacity: 1;
    }
  }
}
