// --------------------------------------------------
// Usage:
// <table class="c-table">
//   <tbody>
//     <tr>
//       <th>...</th>
//       <td>...</td>
//     </tr>
//   </tbody>
// </table>
//
// Modifire:
// c-table--[ fixed ]
// --------------------------------------------------
@use '../../global' as *;

.c-table {
  display: table;
  width: 100%;
  table-layout: auto;

  &--fixed {
    table-layout: fixed;
  }

  th,
  td {
    padding: 1em;
    border: solid 1px #000000;
  }

  th {
    text-align: center;
  }
}
