@use '../../../global' as *;

// justify-self
@include responsive using ($prefix) {
  .#{$prefix}u-justify-self-auto {
    justify-self: auto !important;
  }
  .#{$prefix}u-justify-self-start {
    justify-self: start !important;
  }
  .#{$prefix}u-justify-self-end {
    justify-self: end !important;
  }
  .#{$prefix}u-justify-self-center {
    justify-self: center !important;
  }
  .#{$prefix}u-justify-self-stretch {
    justify-self: stretch !important;
  }
}
