// --------------------------------------------------
// Usage:
// <ul class="l-grid">
//   <li class="l-grid__6">...</li>
//   <li class="l-grid__6">...</li>
// </ul>
// --------------------------------------------------
@use '../global' as *;

.l-grid {
  display: flex;
  flex-wrap: wrap;
}

@include responsive using ($prefix) {
  .#{$prefix}l-grid {
    &__auto {
      flex: 0 1 auto;
    }

    &__fixed {
      flex: 0 0 auto;
    }

    &__1 {
      width: 8.3333%;
    }

    &__2 {
      width: 16.6666%;
    }

    &__3 {
      width: 25%;
    }

    &__4 {
      width: 33.3333%;
    }

    &__5 {
      width: 41.6666%;
    }

    &__6 {
      width: 50%;
    }

    &__7 {
      width: 58.3333%;
    }

    &__8 {
      width: 66.6666%;
    }

    &__9 {
      width: 75%;
    }

    &__10 {
      width: 83.3333%;
    }

    &__11 {
      width: 91.6666%;
    }

    &__12 {
      width: 100%;
    }

    &__1of5 {
      width: 20%;
    }

    &__1of7 {
      width: 14.285%;
    }
  }
}
